</div>
<footer class="nav f2">
    <ul class="nav__links">
       <li class="nav__link active" >
         <a href="/"><i class='bx bx-home-alt-2 box1 b'></i></a>
       </li>
 
       <li class="nav__link">
         <a href="/compose"><i class='bx bx-plus-circle box2' ></i></a>
       </li>
       <li class="nav__link">
        <a href="/search"><i class='bx bx-search'></i></box-icon></a>
      </li>
       <li class="nav__link">
         <a href="/profile" ><i class='bx bx-user box3' ></i></a>
       </li>
     </ul>
 </footer>
 
 <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
 <script src="/index.js" charset="UTF-8"></script>



 </body>
 </html>
 
