<%-include("partials/header")-%>




<div class="auth">
    <h1>You need to be signed in to enable this Section.</h1>
</div>











<%-include("partials/footer");-%>

<%-include("partials/mobileFooter");-%>