<%-include("partials/header");-%>

<div class="row">
<h1>Compose Your Own Blog</h1>

<form action="/compose" method="post" enctype="multipart/form-data">
    <label>Title</label>
    <input class="form-control" name="postTitle" required> 
    <label>Post</label>
    <textarea class="form-control" name="postBody" rows="4" required></textarea>
    <input type="file" name="image"  value="" placeholder="Upload" required>
    <button class="btn btn-primary " type="submit">Publish</button>
</form>
</div>

<%-include("partials/footer");-%>

<%-include("partials/mobileFooter");-%>