body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
  background: linear-gradient(90deg, rgba(245,245,255,1) 0%, rgba(128,111,128,1) 0%, rgba(34,44,44,1) 100%);
   
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.navbar1 {
    padding: 20px 70px 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(76, 82, 87);
    font-size: 12px;
    letter-spacing: 5px;
}
a{
    color:rgb(108, 118, 126);
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: rgb(100, 244, 244);
}
nav{
    color: rgb(51, 46, 46);
}
.ul li{
    list-style: none;
    display: inline;
    padding: 10px;
    font-size: 1.1rem;
}
.ul{
   padding-top: 10px; 
}
.btn1{
    margin-top: 0px;
}

.navbar-default{
    background-color: #76eac9;
}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.sign{
    text-align: right;
    padding-right: 12rem
}
.sign .btn{
    margin: 0px 10px;
}
.btn1{
    padding-left: 18px;
    padding-right: 18px;
}
.user-1{
    padding: 10px 70px;
}
h1{
    color: beige;
    text-shadow: 1px 1px 2px rgb(93, 8, 8), 0 0 1em rgb(12, 12, 250), 0 0 0.2em rgb(4, 4, 77);
    margin-bottom: 60px;
    margin-top: 10px;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

footer {
    margin-top: 3.5rem;
    text-align: center;
    position: absolute;
	bottom: 0px;
	width: 100%;
	height:80px;
}

.navbar1 button{
    display: none;
    size: 100px;
}

.footer p {
	font-size: 12px;
  color: #fff;
  
}
.f1{
    position: static;
}

label{
    display: block;
    color: white;
    margin-bottom: 0.9rem;
}

.form-control{
    margin-bottom: 0.9rem;
}
button{
    margin-top: 0.9rem;
}
.navbar-nav button{
    display: none;
}
h3{
    font-size: 3rem;
    color: rgb(221, 216, 216);
    font-weight: 700;
}

.row1{
    padding: 1.875rem 6.5625rem;
}
img{
    border-radius: 1.875rem;
    transition: .3s;
}


/* AUTH .EJS */

.auth{
    padding: 200px 50px;
}

/* img:hover{
    transform: scale(1.1);
} */
.post-title{
    font-family: 'Young Serif', serif;
}

.col2 img{
    height:20rem;
    width:23rem;
}
.col2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1 p{
    line-height: 1.5;
    padding-right: 70px;
}

.cols{
    padding: 30px 0px 0px;
}
.image{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.blog{
    margin: 40px auto 0px;
}
hr{
    color: rgb(250, 247, 247);
   margin: 0px;
   padding:0px;
}

.nav{
    display: none;
}
.user{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
}
.profile-2{
    text-align: center;
    padding: 0px;
}
@media (max-width:500px){
    body{
        padding-bottom: 100px;
        background: none;
        background-color: rgb(18, 16, 16);
    }
    h1{
        font-size: 2rem;
    }
    .post-username{
        color: rgb(224, 217, 218);
        display: inline;
        margin-left: 25px;
        font-weight: 500;
    }
    .post-title{
        padding:30px 0px 5px;
    }
    .user-image{
        border-radius: 100%;
        height: 40px;
        width: 40px;
    }
    .btn-1{
        margin-bottom: 15px;
    }
    .auth h1{
        font-size: 1.8rem;
        line-height: 1.5;
    }
    .sign{
        padding-right: 0px;
        width: auto;
        height: 30px;
    }
    .sign button{
        display: none;
        font-size: 10px;
        position: relative;
        z-index: 1;
        margin: 5px;
    }
    .profile{
        display: inline;
    }
    .profile-1{
        display: flex;
        justify-content: space-between;
        padding-right: 30px;
    }

    .profile-image{
        border-radius: 100%;
        height: 70px;
        width: 70px;
    }
    .profile-username{
        color: rgb(224, 217, 218);
        font-weight: 500;
        padding-bottom: 0.7rem;
    }
    .blog{
        margin: 40px auto 50px;
    }
    .col1 p{
        padding-right: 0px;
    }
    .col1 .image{
        display: none;
    }
    .row1{
        padding: 30px 30px 0px;
    }
    .col2{
        padding: 20px 40px;
    }
    .col2 img{
        height: 260px;
        width: 270px;
    }
    .navbar1{
        padding:20px 20px 0px;
        background-color: rgb(22, 6, 6);
        
    }
    .navbar1 h3{
        font-size: 1.8rem;
        font-weight: 900;
    }
    .ul li{
        display: none;
    }
    h3{
        font-size: 1.5rem;
        color:rgb(208, 196, 196);
    }
    .f1{
        position: fixed;
    }
    .footer{
        display: none;
    }
    .navbar1 button{
        display:inline;
    }

    :root{
        /* COLORS */
        --tab-color: black;
        --white-color: #fff;
        --home-icon-color: #00f7ff;
        --heart-icon-color: #ff0000;
        --plus-icon-color: #adff2f;
        --user-icon-color: #ee82ee;
        --bell-icon-color: #ffff00;
      }
    li{
        display: inline-block;
      }
    .nav{
        background-color: var(--tab-color);
        width: 30em;
        height: 8em;
        border-radius: 2em;
        padding: 0 2em;
        box-shadow: 0 1em 1em rgba(0,0,0, .2);
        display: flex;
        align-items: center;
      
        position: relative;
        overflow: hidden;
      }
    .nav__links{
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      .nav__link a{
        color: var(--white-color);
        font-size: 2.5rem;
        opacity: 0.5;
      }
      .nav__link.active a{
        opacity: 1;
      }


      

      .f2{
        
        position: fixed;
        border-radius: 0px;
        width: 100%;
        padding:0px;
        height: 53px;
      }
      .nav__links{
        padding-left: 20px;
        padding-top: 0px;
      }
      .nav__link{
        padding: 0px 10px;
      }
      .box{
        text-shadow: 0 0 15px var(--home-icon-color),
        0 0 30px var(--home-icon-color),
        0 0 45px var(--home-icon-color),
        0 0 60px var(--home-icon-color);
        
      }
      .nav__link:hover{
        text-shadow: 0 0 15px var(--home-icon-color),
        0 0 30px var(--home-icon-color),
        0 0 45px var(--home-icon-color),
        0 0 60px var(--home-icon-color); 
      }
    }
    @media (max-width:380px){
        i{
            font-size: 2rem;
        }
        .col2 img{
            height: 230px;
            width: 250px;
        }
        .profile-1{
            padding-right: 25px;
        }
    }